# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build output
x64/
Debug/
Release/
ipch/

# Compiled object files
*.obj
*.pch
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe

# Keep vendored libraries
!Libraries/**/*.lib
!Libraries/**/*.h
!Libraries/**/*.hpp
